figure: fig4
modules:
  fig4_gc_processing:
    input_rds: obj_all_withanno.rds
    out_dir: results/Fig4/gc_processing
    prefix: gc
    subset_celltypes:
    - GC_Antral_Mural
    - GC_Preantral
    - GC_Column
    exclude_regex: ^(Rp|mt)
    nfeatures_round1: 2000
    nfeatures_round2: 2000
    manual_exclude_genes_round1: []
    manual_exclude_genes_round2: []
    pipeline_round1:
      harmony_group: orig.ident
      neighbors_dim_max: 40
      umap_dim_max: 40
      cluster_resolution: 1.5
      pca_npcs: 50
      vars_to_regress:
      - S.Score
      - G2M.Score
      theta: null
      lambda: null
      sigma: null
    exclude_clusters_round1:
    - '6'
    - '7'
    - '15'
    - '16'
    - '19'
    round2_feature_mode: default
    pipeline_round2:
      harmony_group: orig.ident
      neighbors_dim_max: 30
      umap_dim_max: 30
      cluster_resolution: 1.0
      pca_npcs: 50
      vars_to_regress:
      - S.Score
      - G2M.Score
      theta: null
      lambda: null
      sigma: null
    exclude_clusters_round2:
    - '8'
    pipeline_final:
      neighbors_dim_max: 30
      umap_dim_max: 30
      cluster_resolution: 1.5
    out_round1_rds: results/Fig4/gc_processing/gc.round1.rds
    out_final_rds: results/Fig4/gc_processing/obj_gr_newanno.rds
    celltype_map:
      GC_Progenitor:
      - '8'
      GC_Preantral_1:
      - '1'
      - '14'
      GC_Preantral_2:
      - '6'
      - '7'
      - '4'
      GC_Cumulus_1:
      - '12'
      - '13'
      GC_Cumulus_2:
      - '10'
      - '9'
      GC_Antral_Mural:
      - '5'
      - '15'
      GC_Atretic:
      - '3'
      - '0'
      - '11'
      - '2'
  fig4_monocle3:
    input_rds: results/Fig4/gc_processing/obj_gr_newanno.rds
    out_dir: results/Fig4/monocle3
    prefix: gc
    assay: RNA
    num_dim: 50
    reduction_method: UMAP
    root_cluster: '8'
    use_seurat_umap: true
    out_cds_rds: results/Fig4/monocle3/gc.cds.rds
    out_obj_rds: results/Fig4/monocle3/gc.obj_with_pseudotime.rds
    out_pseudotime_csv: results/Fig4/monocle3/gc.pseudotime.csv
    out_plot_pdf: results/Fig4/monocle3/gc.monocle3_pseudotime_umap.pdf
  fig4_cell2location_sc_prep:
    obj_gr_rds: /data/users/zhousining/zhousining_991966b9465a4a0da14819e382eaeb20/online/Final/Somatic/20251222/obj_gr_newanoo_15rs.rds
    obj_total_rds: obj_all_withanno.rds
    target_sample: P49
    sample_col: sample
    celltype_col_total: celltype
    exclude_celltypes_in_total:
    - GC_Atretic
    - GC_Preantral
    - GC_Antral_Mural
    - GC_Column
    gc_celltype_levels:
    - GC_Progenitor
    - GC_Preantral_1
    - GC_Preantral_2
    - GC_Cumulus_1
    - GC_Cumulus_2
    - GC_Antral_Mural
    - GC_Atretic
    gc_cluster_to_celltype:
      GC_Progenitor:
      - '8'
      GC_Preantral_1:
      - '1'
      - '14'
      GC_Preantral_2:
      - '6'
      - '7'
      - '4'
      GC_Cumulus_1:
      - '12'
      - '13'
      GC_Cumulus_2:
      - '10'
      - '9'
      GC_Antral_Mural:
      - '5'
      - '15'
      GC_Atretic:
      - '3'
      - '0'
      - '11'
      - '2'
    out_dir: results/Fig4/cell2location_sc_ref
    prefix: somatic_1226
    out_h5ad: results/Fig4/cell2location_sc_ref/somatic_1226.h5ad
    out_merged_rds: results/Fig4/cell2location_sc_ref/somatic_1226.merged_for_cell2location.rds
    main_layer: counts
  fig4_cell2location_spatial_prep:
    input_h5ad: B04372C211.adjusted.cellbin.h5ad
    spatial_obsm_key: spatial
    gene_name_col: real_gene_name
    drop_gene_names:
    - a
    min_genes: 100
    min_cells: 3
    do_processing: true
    normalize_target_sum: 1e4
    hvg_n_top_genes: 2000
    scale_max_value: 10
    n_neighbors: 20
    n_pcs: 30
    do_cell_cycle: true
    s_genes:
    - Mcm5
    - Pcna
    - Tyms
    - Fen1
    - Mcm2
    - Mcm4
    - Rrm1
    - Ung
    - Gins2
    - Mcm6
    - Cdca7
    - Dtl
    - Prim1
    - Uhrf1
    - Cenpu
    - Hells
    - Rfc2
    - Rpa2
    - Nasp
    - Rad51ap1
    - Gmnn
    - Wdr76
    - Slbp
    - Ccne2
    - Ubr7
    - Pold3
    - Msh2
    - Atad2
    - Rad51
    - Rrm2
    - Cdc45
    - Cdc6
    - Exo1
    - Tipin
    - Dscc1
    - Blm
    - Casp8ap2
    - Usp1
    - Clspn
    - Pola1
    - Chaf1b
    - Brip1
    - E2f8
    g2m_genes:
    - Hmgb2
    - Cdk1
    - Nusap1
    - Ube2c
    - Birc5
    - Tpx2
    - Top2a
    - Ndc80
    - Cks2
    - Nuf2
    - Cks1b
    - Mki67
    - Tmpo
    - Cenpf
    - Tacc3
    - Smc4
    - Ccnb2
    - Ckap2l
    - Ckap2
    - Aurkb
    - Bub1
    - Kif11
    - Anp32e
    - Tubb4b
    - Gtse1
    - Kif20b
    - Hjurp
    - Cdca3
    - Jpt1
    - Cdc20
    - Ttk
    - Cdc25c
    - Kif2c
    - Rangap1
    - Ncapd2
    - Dlgap5
    - Cdca2
    - Cdca8
    - Ect2
    - Kif23
    - Hmmr
    - Aurka
    - Psrc1
    - Anln
    - Lbr
    - Ckap5
    - Cenpe
    - Ctcf
    - Nek2
    - G2e3
    - Cbx5
    - Cenpa
    leiden_resolutions:
      leiden_10: 1.0
      leiden_15: 1.5
    subset:
      leiden_key: leiden_15
      exclude_clusters:
      - '14'
      - '8'
      - '0'
      - '10'
      - '4'
      - '13'
      - '11'
      - '17'
    roi:
      cell_ids_txt: ''
    out_dir: results/cell2location_spatial
    prefix: B04372C211
  fig4_cell2location_train:
    seed: 0
    out_dir: results/cell2location_train
    single_cell:
      input_h5ad: results/cell2location_sc_ref/somatic_1226.h5ad
      labels_key: celltype
      batch_key: orig.ident
      drop_mt: true
      filter_genes:
        cell_count_cutoff: 5
        cell_percentage_cutoff2: 0.03
        nonz_mean_cutoff: 1.12
      train:
        use_gpu: true
        max_epochs: 800
        lr: 0.001
        train_size: 1.0
      export_posterior:
        num_samples: 1000
        batch_size: 2500
    spatial:
      input_h5ad: results/cell2location_spatial/B04372C211.cell2location_spatial_counts.h5ad
      batch_key: orig.ident
      map:
        N_cells_per_location: 1
        detection_alpha: 20
      train:
        max_epochs: 10000
        batch_size: null
        train_size: 1.0
      export_posterior:
        num_samples: 1000
        batch_size: null
